<div class="home-wrapper">
    <div class="views-container">
        <div class="container hm-content">
            <div class="hm-box text-center">
                <h1>The</h1>
                <h1>Budget</h1>
            </div>


            <div class="hm-box why-wrapper text-center">
                <h1> Why Us?</h1>
                <p class="text-center">The answer is why not us? </p>
                <p>We give you the power to keep track of your finance, both your cash and credit card purchase!</p>
            </div>


            <div class="text-center">
                <hr>
                <p class="demo-p">Check out a demo on how to use <span class="demo-link"><i><a href="/#/signup">our app...</a></i></span></p>
                <hr>
            </div>
        </div>
    </div>
</div>
