* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.margin {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}


/*Entire views styling starts here*/

.views-container {
    margin-top: 90px;
}
/*Entire views styling ends here*/



/*Navbar styling*/
.account {
    margin-right: 20px;
}

 .navbar-default .navbar-toggle {
    margin-left: 15px;
     border: none;
    }


@media  screen and  (max-width: 768px){
    
    .navbar-default .brand {
        display: flex;
        justify-content: flex-end;
    }
    
    .navbar-default .brand #sn-up{
        margin: 7px 7px 0 0;
    }
    
    
     .sm-screen #sn-up-sm {
        display: none;
    }
    
    
     .sm-screen #lg-in-sm {
        display: none;
    }
    
   .account1 {
        display: none;
    }
}




@media  screen and  (min-width: 769px){
    
    .navbar-default .brand #lg-in {
        display: none;
    }
    
    .navbar-default .brand #sn-up{
        display: none;
    }
    
    
    .sm-screen #sn-up-sm {
        margin-top: -4px;
    }
    
    
     .account {
        display: none;
    } 

}







.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#uno, #dos, #tres {
     transition: all 0.5s;
}

.navbar-default .navbar-toggle:onclick #dos {
    opacity: 0;
}

.navbar-default .navbar-toggle:onclick #uno {
    transform: rotate(45deg) translate(4px, 4px)
}


.navbar-default .navbar-toggle:onclick #tres {
    transform: rotate(-45deg) translate(4px, -5px)
}



#hm-nav-sika {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;  
    font-size: 25px;
}
/*navbar styling ends here*/





/*welcomePage styling starts here*/
.welcome-wrapper {
    background-image: url("images/income&exp.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    position: absolute;
}


.jumbotron {
    background: rgba(252, 252, 250, 0.8);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wl-sika {
    font-size: 50px;
}

/*welcomePage styling ends here*/





h1 {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 5px;
    letter-spacing: 2px;
}


#greetings {
    margin-bottom: 20px;
}

/*home page styling ends here*/


/*budget section styling*/

.budget-form {
    margin-top: 20px;
}

#budget-submit-btn {
    margin-top: 15px;
}




/*Profile Styling*/
.profile-wrapper {
    background-image: url("http://www.desktopwallpaperhd.net/wallpapers/2/1/collection-yarkij-wallpaper-koktejl-pictures-photo-24225.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
    position: absolute;
}



.profile-pic-div {
    margin-top: 15vh;
}


#profile-pic-edit {
    color: black;
    background: white;
}


/*expenses styling*/
#expense-submit-btn {
    margin-top: 15px;
}