* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.margin {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}


/*Entire views styling starts here*/

.views-container {
    margin-top: 90px;
}


/*Entire views styling ends here*/


/*Navbar styling*/
.account {
    margin-right: 20px;
}

 .navbar-default .navbar-toggle {
    margin-left: 15px;
     border: none;
    }


@media  screen and  (max-width: 768px){
    
    .navbar-default .brand {
        display: flex;
        justify-content: flex-end;
    }
    
    .navbar-default .brand #sn-up{
        margin: 7px 7px 0 0;
    }
    
    
     .sm-screen #sn-up-sm {
        display: none;
    }
    
    
     .sm-screen #lg-in-sm {
        display: none;
    }
    
}




@media  screen and  (min-width: 769px){
    
    .navbar-default .brand #lg-in {
        display: none;
    }
    
    .navbar-default .brand #sn-up{
        display: none;
    }
    
    
    .sm-screen #sn-up-sm {
        margin-top: -4px;
    }
}




.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#uno, #dos, #tres {
     transition: all 0.5s;
}

.navbar-default .navbar-toggle:onclick #dos {
    opacity: 0;
}

.navbar-default .navbar-toggle:onclick #uno {
    transform: rotate(45deg) translate(4px, 4px)
}


.navbar-default .navbar-toggle:onclick #tres {
    transform: rotate(-45deg) translate(4px, -5px)
}

/*navbar styling ends here*/





/*welcomePage styling starts here*/

.jumbotron {
    background: rgba(252, 252, 250, 0.6);
}


/*welcomePage styling ends here*/


/*Signup and Login styling starts here*/

.ls-container {
    background-color: rgba(252, 252, 250, 0.6);
}


/*Welcome page styling*/

.welcome-wrapper {
    background-image: url("images/tallfinancebuilding.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    position: absolute;
}


/*Welcome page styling ends here*/


/*Home page styling starts*/

.home-wrapper {
    /*    background-image: url("images/income&exp.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    position: absolute;
}


/*home styling*/

.hm-content {
    color: #F22A02;
}

.hm-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0 5px 0;
    margin-bottom: 10px;
}

h1 {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 5px;
    letter-spacing: 2px;
}

.demo-p {
    background-color: rgba(0, 0, 0, 0.5);
}

.demo-link i a:hover {
    color: white;
}


/*home page styling ends here*/


/*budget section styling*/

.budget-wrapper {
    background-image: url("images/tallfinancebuilding.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.budget-form {
    margin-top: 20px;
}

.form-control {
    margin: 2px 0;
}

.budget-detail {
    color: #fff;
}

.table {
    background-color: #fff;
    opacity: 0.7;
}

.budget-data {
    color: #000;
}

.table thead {
    color: #000;
}

@media screen and (max-height: 800px) {
    .box2 {
        position: relative;
        top: -100px;
    }
    .link-div {
        position: relative;
        top: -80px;
    }
}


/*Profile Styling*/

.profile-wrapper {
    background-image: url("http://www.desktopwallpaperhd.net/wallpapers/2/1/collection-yarkij-wallpaper-koktejl-pictures-photo-24225.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
    position: absolute;
}
