<div class="budget-wrapper">
    <div class="views-container">
        <div>
            <form novalidate name="budgetForm" class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 budget-form text-center form-group">
                <div>
                    <input type="text" placeholder="Month" class="form-control" name="month" ng-model="budget.month" required>
                    <small ng-show="budgetForm.month.$touched && budgetForm.month.$invalid" style="color: red;">Enter a month.</small>
                </div>
                <div>
                    <input type="number" placeholder="Income for the Month" class="form-control" name="income" ng-model="budget.income" required>
                    <div ng-show="budgetForm.income.$touched && budgetForm.income.$invalid">
                        <small style="color: red;">Enter an amount.</small>
                    </div>
                </div>

                <input type="number" placeholder="Budgeted Expense for the Month" name="expenseBudget" class="form-control" ng-model="budget.expenseBudget" required>

                <!--                <input type="number" placeholder="Budgeted Savings for the Month" name="expenseBudget" class="form-control" ng-model="budget.savings" required>-->
                <div>
                    <label class="pull-left" for="savings">Savings</label>
                    <input id="savings" type="number" name="expenseBudget" class="form-control" ng-model="budget.savings = budget.income - budget.expenseBudget">
                </div>


                <button class="text-center btn btn-primary" ng-click="submitBudget(budget)" ng-disabled="budgetForm.$invalid" id="budget-submit-btn">Submit</button>
            </form>
        </div>


        <!--clears floats-->
        <div class="clear"></div>



        <!--Weekly Budget Output-->
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 budget-form">
            <button class="btn btn-warning" ng-click="hidden=!hidden">Hide</button>
            <table class="table" ng-hide="hidden">
                <thead>
                    <th class="budget-data">Month</th>
                    <th>Budget</th>
                    <th>Amount</th>
                </thead>
                <tbody ng-repeat="budget in monthlyBudget">
                    <div>
                        <tr>
                            <td class="budget-data">{{budget.month}}</td>
                            <td class="budget-data">Income</td>
                            <td class="budget-data">{{budget.income | currency: "$"}}</td>
                        </tr>
                        <tr>
                            <td class="budget-detail"><button class="btn btn-info" type="button" ng-click="getDetails(budget._id)">Add Expenses</button></td>
                            <td class="budget-data">Expenses</td>
                            <td class="budget-data">{{budget.expenseBudget | currency: "$"}}</td>
                        </tr>
                        <tr>
                            <td class="budget-data"><button class="btn btn-danger" type="button" ng-click="deleteBudget($index, budget._id)">Delete Budget</button></td>
                            <td class="budget-data">Savings</td>
                            <td class="budget-data">{{budget.savings | currency: "$"}}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>

    </div>
</div>
