<div class="budget-wrapper">
    <div class="views-container">
        <div>
            <form novalidate name="budgetForm" class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 budget-form text-center form-group">
                <input type="text" placeholder="Week Ending" class="form-control" name="income" ng-model="budget.date" required>
                <input type="number" placeholder="Income for the week" class="form-control" name="income" ng-model="budget.income" required>
                <input type="number" placeholder="Weekly budgeted total expense amount" name="expenseBudget" class="form-control" ng-model="budget.expenseBudget" required>
                <input type="number" placeholder="Budgeted savings for the week" class="form-control" name="savingsbudget" ng-model="budget.savingsBudget" required>
                <button class="text-center btn btn-primary" type="button" ng-click="submitBudget(budget)" ng-disabled="budgetForm.$invalid">Submit</button>
            </form>
        </div>


        <!--clears floats-->
        <div class="clear"></div>


       
        <!--Weekly Budget Output-->
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 budget-form">
            <button class="btn btn-warning" ng-click="hidden=!hidden">Hide</button>
            <table class="table" ng-hide="hidden">
                <thead>
                    <th class="budget-data">Wk Ending</th>
                    <th>Budget</th>
                    <th>Amount</th>
                </thead>
                <tbody ng-repeat="budget in weeklyPost">
                    <div>
                        <tr>
                            <td class="budget-data">{{budget.date}}</td>
                            <td class="budget-data">Income</td>
                            <td class="budget-data">{{budget.income | currency: "$"}}</td>
                        </tr>
                        <tr>
                            <td class="budget-detail"><button class="btn btn-info" type="button" ng-click="getDetails(budget._id)">Get Details</button></td>
                            <td class="budget-data">Expenses</td>
                            <td class="budget-data">{{budget.expenseBudget | currency: "$"}}</td>
                        </tr>
                        <tr>
                            <td class="budget-data"></td>
                            <td class="budget-data">Savings</td>
                            <td class="budget-data">{{budget.savingsBudget | currency: "$"}}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>

    </div>
</div>
