<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div ng-show="userService.isAuthenticated()">
                <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span id="uno" class="icon-bar"></span>
                    <span id="dos" class="icon-bar"></span>
                    <span id="tres" class="icon-bar"></span> 
                </button>
            </div>
            <!--hidden when the user logs in-->
            <a ng-hide="userService.isAuthenticated()" href="#/" class="navbar-brand">Sika</a>

            <!--shows when the user logs in-->
            <a ng-show="userService.isAuthenticated()" href="#/home" class="navbar-brand" id="hm-nav-sika">Sika</a>
            <div class="brand">
                <a id="lg-in" ng-hide="userService.isAuthenticated()" class="navbar-brand" href="#/login">Log In</a>
                <a id="sn-up" ng-hide="userService.isAuthenticated()" href="#/signup"><button class="btn btn-warning">Sign Up</button></a>
            </div>




            <!--Hide this at sm screen-->
            <ul ng-show="userService.isAuthenticated()" class="nav navbar-nav account pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{ userService.currentUser.username }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="user" class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ userService.currentUser.username }}</strong></p>
                                        <p class="text-left small">{{ userService.currentUser.email }}</p>
                                        <p ng-show="userService.isAuthenticated()" class="text-left">
                                            <a href="#/profile" class="btn btn-primary btn-block btn-sm">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="divider navbar-log In-session-bg"></li>
                        <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Favourites<span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                        <li class="divider"></li>
-->
                        <li ng-show="userService.isAuthenticated()"><a href="#/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse sm-screen">
            <ul class="nav navbar-nav">
                <!--
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
-->
                <!--                <li ng-show="userService.isAuthenticated()"><a href="#/calendar">calendar</a></li>-->
                <li ng-show="userService.isAuthenticated()"><a href="/#/budget">Budget</a></li>
                <li ng-show="userService.isAuthenticated()"><a href="/#/summary">Summary</a></li>
            </ul>

            <!--Show this at sm-->
            <ul ng-show="userService.isAuthenticated()" class="nav navbar-nav account1 pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{ userService.currentUser.username }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="user" class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ userService.currentUser.username }}</strong></p>
                                        <p class="text-left small">{{ userService.currentUser.email }}</p>
                                        <p ng-show="userService.isAuthenticated()" class="text-left">
                                            <a href="#/profile" class="btn btn-primary btn-block btn-sm">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="divider navbar-log In-session-bg"></li>
                        <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Favourites<span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                        <li class="divider"></li>
-->
                        <li ng-show="userService.isAuthenticated()"><a href="#/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>






            <ul class="nav navbar-nav navbar-right">
                <li id="lg-in-sm" ng-hide="userService.isAuthenticated()"><a href="#/login">Log In</a></li>
                <li id="sn-up-sm" ng-hide="userService.isAuthenticated()"><a href="#/signup"><button class="btn btn-warning">Sign Up</button></a></li>
            </ul>
        </div>
    </div>
</div>
